@import "bootstrap";

html, body {
  height: 100%;
}

.bg {
  background-image: url('../../assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
}

main {
  opacity: 0.98;
}
